.classpath
.project
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.validation.prefs
.settings/org.springframework.ide.eclipse.beans.core.prefs
.settings/org.springframework.ide.eclipse.core.prefs
.springBeans
target/classes/com/tanging/app/HomeController.class
target/classes/log4j.xml
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
target/m2e-wtp/web-resources/META-INF/maven/com.tanging/app/pom.properties
target/m2e-wtp/web-resources/META-INF/maven/com.tanging/app/pom.xml
target/test-classes/log4j.xml
target/app-1.0.0-BUILD-SNAPSHOT.war
target/app-1.0.0-BUILD-SNAPSHOT/WEB-INF/classes/com/tanging/app/HomeController.class
target/app-1.0.0-BUILD-SNAPSHOT/WEB-INF/classes/log4j.xml
target/app-1.0.0-BUILD-SNAPSHOT/WEB-INF/lib/aopalliance-1.0.jar
target/app-1.0.0-BUILD-SNAPSHOT/WEB-INF/lib/aspectjrt-1.6.10.jar
target/app-1.0.0-BUILD-SNAPSHOT/WEB-INF/lib/javax.inject-1.jar
target/app-1.0.0-BUILD-SNAPSHOT/WEB-INF/lib/jcl-over-slf4j-1.6.6.jar
target/app-1.0.0-BUILD-SNAPSHOT/WEB-INF/lib/jstl-1.2.jar
target/app-1.0.0-BUILD-SNAPSHOT/WEB-INF/lib/log4j-1.2.15.jar
target/app-1.0.0-BUILD-SNAPSHOT/WEB-INF/lib/slf4j-api-1.6.6.jar
target/app-1.0.0-BUILD-SNAPSHOT/WEB-INF/lib/slf4j-log4j12-1.6.6.jar
target/app-1.0.0-BUILD-SNAPSHOT/WEB-INF/lib/spring-aop-3.1.1.RELEASE.jar
target/app-1.0.0-BUILD-SNAPSHOT/WEB-INF/lib/spring-asm-3.1.1.RELEASE.jar
target/app-1.0.0-BUILD-SNAPSHOT/WEB-INF/lib/spring-beans-3.1.1.RELEASE.jar
target/app-1.0.0-BUILD-SNAPSHOT/WEB-INF/lib/spring-context-3.1.1.RELEASE.jar
target/app-1.0.0-BUILD-SNAPSHOT/WEB-INF/lib/spring-context-support-3.1.1.RELEASE.jar
target/app-1.0.0-BUILD-SNAPSHOT/WEB-INF/lib/spring-core-3.1.1.RELEASE.jar
target/app-1.0.0-BUILD-SNAPSHOT/WEB-INF/lib/spring-expression-3.1.1.RELEASE.jar
target/app-1.0.0-BUILD-SNAPSHOT/WEB-INF/lib/spring-web-3.1.1.RELEASE.jar
target/app-1.0.0-BUILD-SNAPSHOT/WEB-INF/lib/spring-webmvc-3.1.1.RELEASE.jar
target/app-1.0.0-BUILD-SNAPSHOT/WEB-INF/spring/appServlet/servlet-context.xml
target/app-1.0.0-BUILD-SNAPSHOT/WEB-INF/spring/root-context.xml
target/app-1.0.0-BUILD-SNAPSHOT/WEB-INF/views/home.jsp
target/app-1.0.0-BUILD-SNAPSHOT/WEB-INF/web.xml
target/maven-archiver/pom.properties
